.un-authorized {
    background-image: url("../images/gradient_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    .ant-layout {
        background: transparent;
    }
}

.authorized .main-content {
    margin: 24px 16px;
    padding: 24px 0;
    background: #fff;
    min-height: 280px;
    .router-content {
        padding: 24px;
        background: #fff;
    }
}